/* style.css */

/* General css */
body {
    margin: 0;
    background-color: #ffffff;
    font-family: Poppins, Inter, sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

img {
    height: auto;
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #9b7444;
    text-decoration: underline;
}

.h1-title {
    font-size: 3rem;
    line-height: 1.25em;
    font-weight: 700;
}

/* homepage css */
.hero {
    background-color: #ffe4c4;
    text-align: center;
    padding: 1rem 0 2rem 0;
}

.homepage-banner {
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    width: 60%;
}

.recipes-list {
    text-align: center;
}

.recipes-list ul {
    list-style: none;
}

/* Recipes pages css */

.recipes-pages-hero {
    padding : 1rem 0 2rem 0;
    background-color: #ffe4c4;
    text-align: center;
}

.banner-img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

.process {
    padding: 0px 1.5rem 0px 1.5rem
}

.h2-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2em;
}